/*-------------------- header ---------------------- */

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

#title_img {
    width: 80px;
    height: 80px;
}

.navbar {
    height: 80px;      /* 원하는 네비바 높이로 조절하세요 */
    min-height: 70px;
}

/* 로고 이미지 최대 높이 제한 */
.navbar-brand img {
    max-height: 70px;  /* 네비바 높이보다 조금 작게 설정 */
    height: auto;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}


.nav-item.dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
}

.navbar-nav > li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.navbar-nav > li > a.nav-link {
    font-size: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.dropdown-menu .dropdown-item {
    font-size: 0.95rem;
    padding: 0.4rem 0.8rem;
}

/*---------------- index ------------------- */
.video-container {
    position: relative;
    width: 100%;
    min-height: 400px;
    max-height: 1500px;
    aspect-ratio: 16 / 9; /* 반응형 비율 유지 */
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


